{% extends 'base.html' %}

{% block content %}



<div class="card mb-5" style="border-radius: 5px;">
    <div class="card-body" style="text-align: center;">
        <h3>Chairman Details</h3>
    </div>
    
</div>

<div class="card mb-5" style="border-radius: 5px;">
    <div class="card-body">
        <b>Name: </b><h5>{{chairman_detail.name}}</h5> <br>
        <b>BIO: </b><h5>{{chairman_detail.BIO}}</h5> <br>
        <b>Information: </b><h5>{{chairman_detail.information}}</h5> <br>
        <b>Status: </b><h5>{{chairman_detail.status}}</h5> <br>
        <b>Created: </b><h5>{{chairman_detail.created}}</h5> <br>

    </div>
</div>


<div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <button class="btn btn-hover btn-primary mt-10" type="submit">
        <b><a href="{% url 'chairmans_url' %}">To List</a></b>
    </button>
</div>
{% endblock content %}