{% extends 'base.html' %}

{% block content %}


<style>
  table {
    border-collapse: collapse; /* Jadval chiziqlarini birlashtirish */
    width: 100%; /* Jadval kengligini avtomatik qilish */
  }
  th, td {
    padding: 8px; /* Ichki bo'shliq */
    text-align: center; /* Matnni gorizontal o'rtaga olish */
    vertical-align: middle; /* Matnni vertikal o'rtaga olish */
    border: 1px solid #ddd; /* Jadval chiziqlari */
  }
  th {
    background-color: #f4f4f4; /* Sarlavha foni */
    font-weight: bold;
  }
</style>



<div class="card">  
  <div class="card-header" style="border-radius: 10px; text-align: center;">
    <h3>Humans</h3>
    <form action="{% url 'humans_url' %}" method="get" class="row mt-3">
      {% csrf_token %}
      <div class="col">
        <label for="houseSelect" class="visually-hidden">House</label>
        <select name="house" id="houseSelect" style="background-color: white; border: solid 1px rgb(134, 123, 123);">
            <option value="0" selected>Choose House</option>
            {% for house in houses %}
                <option value="{{ house.id }}">{{ house }}</option>
            {% endfor %}
        </select>
    </div>
      <div class="col">
        <label for="autoSizingSelect" class="visually-hidden">Status</label>
        <select style="background-color: white; border: solid 1px rgb(134, 123, 123);" name="status" id="autoSizingSelect">
          <option value="0" selected>Choose status</option>
          <option value="Kindergarten">Kindergarten</option>
          <option value="Schoolboy">Schoolboy</option>
          <option value="Student">Student</option>
          <option value="Worker">Worker</option>
        </select>
      </div>
      <div class="col">
        <label for="autoSizingSelect" class="visually-hidden">Information</label>
        <select name="information" id="autoSizingSelect" style="background-color: white; border: solid 1px rgb(134, 123, 123);">
          <option value="0" selected>Choose Information</option>
          <option value="NO">NO</option>
          <option value="MIDDLE">MIDDLE</option>
          <option value="HIGH">HIGH</option>
        </select>
      </div>
      <div class="col">
        <label for="autoSizingSelect" class="visually-hidden">Sort By</label>
        <select name="sort" id="autoSizingSelect" style="background-color: white; border: solid 1px rgb(134, 123, 123);">
          <option value="fullname">A-z</option>
          <option value="created">Created</option>
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-secondary btn-hover" style="height: 48px;">Search</button>
      </div>
    </form>
  </div>
  <div class="card-body">
    <table>
        <thead>
            <tr>
                <th style="width: 10%;" scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">House</th>
            </tr>
        </thead>
        <tbody>
            {% for i in page_obj %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td><a href="{% url 'human_detail_url' i.id %}">{{ i.fullname }}</a></td>
                <td>{{ i.status }}</td>
                <td>{{ i.house }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

<!-- Pagination -->
  <div class="d-flex justify-content-center mt-3 mb-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.information %}&information={{ request.GET.information }}{% endif %}{% if request.GET.house %}&house={{ request.GET.house }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.information %}&information={{ request.GET.information }}{% endif %}{% if request.GET.house %}&house={{ request.GET.house }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.information %}&information={{ request.GET.information }}{% endif %}{% if request.GET.house %}&house={{ request.GET.house }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">Next &raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
  </div>



  

</div>

{% endblock content %}
