{% extends 'base.html' %}

{% block content %}



<div class="card mb-5" style="border-radius: 5px;">
    <div class="card-body" style="text-align: center;">
        <h3 style="color: rgb(121, 109, 104);">MFY Details</h3>

    </div>
    
</div>

<div class="card mb-5" style="border-radius: 5px;">
    <div class="card-body">
        <b>Title: </b><h5 style="color: rgb(121, 109, 104);">{{MFY_detail.title}}</h5> <br>
        <b>Chairman: </b><h5><a  style="color: rgb(138, 58, 213);" href="{% url 'chairman_detail_url' MFY_detail.chairman.id %}">{{MFY_detail.chairman}}</a></a></h5> <br>
        <b>Area km kv: </b><h5 style="color: rgb(121, 109, 104);">{{MFY_detail.area_kv_km}}</h5> <br>
        <b>Number Houses: </b><h5 style="color: rgb(121, 109, 104);">{{MFY_detail.number_houses}}</h5> <br>
        <b>Peoples: </b><h5 style="color: rgb(121, 109, 104);">{{MFY_detail.people}}</h5> <br>
        <b>Created: </b><h5 style="color: rgb(121, 109, 104);">{{MFY_detail.created}}</h5> <br>

    </div>
</div>


<div class="row mt-5" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-auto">
        <b><a class="btn btn-hover btn-success"  type="submit" href="{{ request.META.HTTP_REFERER }}">Back</a></b>
    </div>
    <div class="col-auto">
        <b><a class="btn btn-hover btn-secondary"  type="submit" href="{% url 'MFY_url' %}">To List</a></b>
    </div>
</div>
{% endblock content %}