{% extends 'base.html' %}

{% block content %}



<div class="card mb-5" style="border-radius: 5px;">
    <div class="card-body" style="text-align: center;">
        <h3>Neighborhood Details</h3>
    </div>
    
</div>

<div class="card mb-5" style="border-radius: 5px;">
    <div class="card-body">
        <b>Title: </b><h5>{{neighborhood_detail.title}}</h5> <br>
        <b>Elder: </b><h5>{{neighborhood_detail.elder}}</a></h5> <br>
        <b>MFY: </b><h5><a href="{% url 'MFY_detail_url' neighborhood_detail.MFY.id %}">{{neighborhood_detail.MFY}}</a></a></h5> <br>
        <b>Area km kv: </b><h5>{{neighborhood_detail.area_kv_km}}</h5> <br>
        <b>Number Houses: </b><h5>{{neighborhood_detail.number_houses}}</h5> <br>
        <b>Peoples: </b><h5>{{neighborhood_detail.people}}</h5> <br>
        <b>Created: </b><h5>{{neighborhood_detail.created}}</h5> <br>

    </div>
</div>


<b style="display: flex; justify-content: center; align-items: center;"><a class="btn btn-hover btn-secondary mt-10"  type="submit" href="{% url 'humans_url' %}">To List</a></b>

{% endblock content %}